# Ignore virtual environment
env/

# Ignore compiled Python files
__pycache__/
*.pyc
*.pyo

# Ignore logs
*.log

# Ignore dataset or large files
*.jpg
*.png
*.pt

# Ignore VS Code settings (optional)
.vscode/
